<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
  	<property name = "hibernate.connection.url">jdbc:mysql://localHost:3306/hibernate?serverTimezone=UTC</property>
    <property name = "connection.username">yann</property>
    <property name = "connection.driver_class">com.mysql.cj.jdbc.Driver</property>
  	<property name = "dialect">org.hibernate.dialect.MySQLDialect</property>
  	<property name = "connection.password">password</property>
    <property name = "current_session_context_class">thread</property>
    <property name = "hibernate.show_sql">true</property>   
 	<property name = "hibernate.hbm2ddl.auto">create</property>
 	
 	<mapping resource = "amis/entity/Cours.hbm.xml"/>
 	<mapping resource = "amis/entity/Niveau.hbm.xml"/>
    <mapping resource = "amis/entity/Etudiant.hbm.xml"/>
  </session-factory>
</hibernate-configuration>